version: '3.9'

x-local-mappings:
  &local-volumes
  volumes:
    #- ../src/ckanext-dcatapit:/usr/lib/ckan/venv/src/ckanext-dcatapit
    - /tmp:/tmp

services:

  db:
    ports:
      - "54322:5432"

  ckan:
    << : *local-volumes

  gather_consumer:
    << : *local-volumes

  fetch_consumer:
    << : *local-volumes
